.cards {
  display: flex;
  justify-content: space-between;
  margin: 30px 0px;
}

.card {
  padding: 30px;
  -webkit-box-shadow: -1px 1px 4px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: -1px 1px 4px 1px rgba(0,0,0,0.1);
  box-shadow: -1px 1px 4px 1px rgba(0,0,0,0.1);
  height: 200px;
  width: 180px;
}

.card img {
  height: 90px;
}
